## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "identityId": $util.dynamodb.toDynamoDB($ctx.args.identityId),
  "date": $util.dynamodb.toDynamoDB($ctx.args.date)
}))
## [End] Set the primary key. **
{}